.home {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #dc1d38;
    --bd-dpo: #721523;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 220, 29, 56;
    --bd-pink-rgb: 214, 51, 132;
    --bd-dpo-rgb: 110, 14.5, 29;
    --bd-dpo-accent-1: #efffff;//44;
    --bd-dpo-accent-2: #f9f9d8;//44;


    .bd-masthead {
        padding: 2rem 0 0rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bd-dpo-rgb), 0.2), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.2), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.1), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.1), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-dpo);
        --bs-btn-border-color: var(--bd-dpo);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: var(--bd-dpo);
        --bs-btn-hover-border-color: var(--bd-dpo);
        --bs-btn-focus-shadow-rgb: var(--bd-dpc-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg:  var(--bd-accent);
        --bs-btn-active-border-color: var(--bd-accent);
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-dpo-rgb: 110, 14.5, 29;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-dpo-rgb), 1), rgba(var(--bd-dpo-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.species-factsheet h3 {
    font-size: calc(1.0rem + 0.4vw);
    margin-bottom: 0em;
}
