{{ define "main" }}

<div class="container py-3 border bg-white rounded-3">

  <h1>{{ .Title }}</h1>

  <table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Region</th>
      <td>
        {{ .Params.region }}
      </td>
    </tr>
    <tr>
      <th scope="row">Homepage</th>
      <td><a href="{{ .Params.homepage_url }}">{{ .Params.homepage_url }}</a></td>
    </tr>
    <tr>
      <th scope="row">Forum</th>
      <td><a href="{{ .Params.forum_url }}">{{ .Params.forum_url }}</a></td>
    </tr>
    <tr>
      <th scope="row">Contact Email Address</th>
      <td>{{ .Params.email }}</td>
    </tr>
    <tr>
      <th scope="row">Further Information</th>
      <td>{{ .Content }}</td>
    </tr>
  </tbody>
</table>

</div>

{{ end }}